body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size:120%;
    background-color: #93c1ff ;
}

header{
    background-color: #ffd193;
}
nav{
    background-color:#ffb3ca ;
    display: inline-block;
    width: 80%;
}
img{
    padding: 0.5%;
}
header img{
    width: 10%;
    position: relative;  
    top: 20px;
    
}
main{
    background-color: #ffd193;
    font-size: 130%;
    
}
footer{
    background-color: #ffb3ca;
}
ul{
    display: flex;
    justify-content: space-around;
    width: 80%;
    list-style-type: none;
}

h1{
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   text-transform: uppercase;
    color: #8f4b73;
}

p{
    line-height:125%;
    font-size: 90%;
}
.grid{
display: grid;
grid-template-columns: 40% 40%;
justify-content:space-around;
align-items:center;
row-gap: 5px;
}
.flex{
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content:space-around
}
.grid img{
    width: 100%;
}
/*li{
    display: inline-flex;
    padding-left: 10%;
}*/
